body {
    background-color:lightgray;
}
.product {
    display: flex;
    flex-direction: row;
    
}
.prd-1-img {
    width: 30px;
}
#prdImage,
#prdImage5,
#prdImage6,
#prdImage7,
#prdImage8,
#prdImage10,
#prdImage11,
#prdImage12 {
    width: 350px;
    background-color: white;
}
#prdImage9 {
    width: 250px;
    background-color: white;
}
#prdImage2 {
    width: 300px;
    background-color: white;
}
#prdImage3 {
    width: 300px;
    background-color: white;
}
#prdImage4 {
    width: 250px;
    background-color: white;
}
.prd-2-img {
    margin-left: 30px;
    padding-top: 30px;
}
.prd-page-1 {
    margin-left: 25%;
}
.prd-page-2 ,
.prd-page-3,
.prd-page-4,
.prd-page-5 ,
.prd-page-7 ,
.prd-page-8,
.prd-page-9,
.prd-page-10,
.prd-page-11,
.prd-page-12{
    margin-left: 2%;
}
.prd-page-1,
.prd-page-2,
.prd-page-3,
.prd-page-4,
.prd-page-5 {
    line-height: 24px;
}
.page-1-name,
.page-2-name {
    padding-top: 30px;
    margin-left: 20px;
    line-height:35px;
}
.prd-1-price,
.prd-2-price {
    margin-left: 20px;
    font-size: 30px;
    font-weight: bold;
}
.page-1-des,
.page-2-des,
.page-3-des,
.page-4-des,
.page-5-des,
.page-6-des,
.page-7-des,
.page-8-des,
.page-9-des,
.page-10-des,
.page-11-des,
.prd-12-des{
    margin-left: 20px;
    font-size: 20px;
}
.prd-3-img,
.prd-4-img {
    padding-top: 20px;
    margin-left: 26px;
}
.prd-10-img {
    margin-top: -2%;
}
.prd-5-img,
.prd-6-img,
.prd-7-img,
.prd-8-img,
.prd-9-img,
.prd-10-img,
.prd-11-img ,
.prd-12-img{
    padding-top: 55px;
    margin-left: 26px;
}
.prd-page-3,
.prd-page-4 ,
.prd-page-6 ,
.prd-page-7,
.prd-page-8,
.prd-page-9,
.prd-page-10,
.prd-page-11,
.prd-page-12 {
    line-height: 28px;
}